---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Prueba Tailwind" description="Prueba de Astro + Tailwind">
  <main class="min-h-screen flex items-center justify-center bg-gray-100">
    <h1 class="text-5xl font-extrabold tracking-tight">
      Tailwind funciona en este ordenador
    </h1>
  </main>
</BaseLayout>
